/* layout
20190725 / 주석 최초 작성 / layout 컨텐츠를 전체적으로 감싸는 layout / 이해준
*/
.container--pushauto {
  @include push--auto();
  @include mq('desktop') {
    max-width: 1180px;
  }
}

.contents {
  position: relative;
  top: 60px;

  // tablet
  @include mq('tablet') {
    top: 70px;
  }

  // desktop
  @include mq('desktop') {
    top: 90px;
  }
  &.emg-notice {
    top: 139px;
    @include mq('tablet') {
      top: 160px;
    }
    @include mq('desktop') {
      top: 162px;
    }
  }
}
