// 회원 가입
.member-bg {
@include mq('tablet') {
    padding: 50px 0;
    background: #F0F4F9;
}
@include mq('desktop') {
    padding: 70px 0;
}
}
.member-container {
    max-width: 360px;
    margin: 0 auto;
    background: #fff;

@include mq('tablet'){
    max-width: none;
    width: 668px;
}
@include mq('desktop') {
    width: 780px;
}
&.pc-wide {
@include mq('desktop') {
    width: 994px;
}
@include mq('desktop-wide') {
    width: 1180px;
}
}
}
.brick-member {
    width: 100%;
    padding: 30px 15px;

@include mq('tablet') {
    padding: 50px 40px;
}
@include mq('desktop') {
    padding: 70px 100px;
}
input {
    -webkit-appearance: none;
}
&__title {
     font-size: 1.5rem;
     font-weight: 400;
     letter-spacing: -1.2px;
     text-align: center;
     padding-bottom: 30px;

@include mq('tablet') {
    font-size: 1.875rem;
    letter-spacing: -1.5px;
    padding-bottom: 10px;
}
@include mq('desktop') {
    letter-spacing: -2px;
    font-size: 2.5rem;
}

&.single {
@include mq('tablet') {
    padding-bottom: 30px;
}
@include mq('desktop') {
    padding-bottom: 50px;
}
}
&.find-info {
     padding-bottom: 10px;
 }
}
&__subtitle {
     display: none;
     font-size: 0.875rem;
     font-weight: 300;
     letter-spacing: -0.28px;
     padding-bottom: 30px;
     text-align: center;

&.pw-change {
     display: block;
@include mq('tablet') {
    padding-bottom: 50px;
}
}
&.find-info {
     display: block;

@include mq('tablet') {
    padding-bottom: 50px;
}
}
@include mq('tablet') {
    display: block;
}
@include mq('desktop') {
    font-size: 1rem;
    letter-spacing: -0.56px;
}
}
&__form {
.form-title {
    font-weight: 400;
    letter-spacing: -0.56px;
    padding-bottom: 10px;

@include mq('tablet') {
    font-size: 1.125rem;
    letter-spacing: -0.63px;
    padding-bottom: 15px;
}
@include mq('desktop') {
    font-size: 1.25rem;
    letter-spacing: -0.7px;
}
}
}
&__content {
     padding-bottom: 30px;
@include mq('tablet') {
    padding-bottom: 50px;
}
&.pb-0 {
     padding-bottom: 0px;
 }
&.login-list {
/* @include mq('desktop') {
    padding-top: 20px;
} */
.input-area {
    padding-bottom: 30px;
@include mq('tablet') {
    width: 400px;
    margin: 0 auto;
}
/* &:nth-child(1) {
    @include mq('desktop') {
        margin-bottom: 30px;
    }
} */
&:nth-last-child(1) {
     padding-bottom: 0px;
 }
label {
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: -0.49px;
    display: block;
    padding-bottom: 10px;
@include mq('tablet') {
    font-size: 0.875rem;
    width: 100px;
    padding-bottom: 0px;
    display: inline-block;
}
@include mq('desktop') {
    font-size: 1rem;
}
}
> span {
    font-size: 0.875rem;
    letter-spacing: -0.49px;

@include mq('desktop') {
    font-size: 1rem;
}
}
&.id-list-label {
     padding-bottom: 0px;
@include mq('tablet') {
    float: left;
    width: 100px;
    margin-left: 94px;
}
@include mq('desktop') {
    margin-left: 90px;
}
}
&.id-list {
     padding-bottom: 10px;
@include mq('tablet') {
    padding-top: 0px;
}
> label {
    padding-bottom: 0px;
}
}
button, a {
    color: #3090D6;
    font-size: 0.875rem;
    font-weight: 300;
    padding-left: 10px;

@include mq('desktop') {
    font-size: 1rem;
    font-weight: 300;
}
}
i {
    padding-left: 5px;
@include mq('desktop') {
    padding-left: 10px;
}
}
.find-id-explain {
    font-weight: 300;
    font-size: 0.875rem;
    letter-spacing: -0.28px;
@include mq('tablet') {
    padding-left: 160px;
}
> p {
    margin-top: 10px;
}
a {
    padding-left: 0px;
}
}

}

.id-list-form {
.input-area {
    padding-top: 0px;
    padding-bottom: 10px;
@include mq('tablet') {
    padding-left: 100px;
}
}
}
}
&.id-receive {
.input-area {
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
label {
    width: 160px;
}
>.login-list {
@include mq('tablet') {
    display: inline-block;
    width: 400px;
    padding-bottom: 15px;
    border-bottom: 1px solid #CDCDCD;
}
&.explain {
@include mq('tablet') {
    width: 100%;
    padding-bottom: 0px;
}
}
}
}
}
.auth-field {
    font-size: 0.875rem;
@include mq('tablet') {
    padding-left: 100px;
}
@include mq('desktop') {
    font-size: 1rem;
    width: 400px;
}
.auth-input {
    width: 185px;
    height: 36px;
    margin-bottom: 10px;

@include mq('desktop') {
    width: 211px;
}
}
.btn-auth {
    border: 1px solid #3090D6;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-left: 10px;

&:hover {
     color: #fff;
     background: #3090D6;
 }
}
}
.other-auth {
@include mq('tablet') {
    padding-left: 100px;
}
@include mq('desktop') {
    padding-left: 0;
}
.auth-title {
    color: #707070;
    font-size: 0.75rem;
    letter-spacing: -0.24px;
@include mq('tablet') {
    font-size: 0.875rem;
    letter-spacing: -0.49px;
}
@include mq('desktop') {
    font-size: 1rem;
}
}
a {
    padding-left: 0px !important;
    padding-top: 10px;

@include mq('desktop') {
    padding-top: 5px;
}
}
}
}

&__find-id {
     font-size: 0.875rem;
     font-weight: 300;
     margin-top: 30px;

@include mq('tablet') {
    margin-top: 50px;
}
@include mq('desktop') {
    font-size: 1rem;
}
> li {
    text-align: left;
    display: table;
    width: 100%;
&::before {
     display: table-cell;
     width: 15px;
     content: '\2022';
 }
}
}

&__login-data {
     padding-bottom: 20px;

@include mq('tablet') {
    padding-bottom: 35px;
}
}
&__termsTitle {
     padding-bottom: 10px;

@include mq('tablet') {
    padding-bottom: 30px;
}
.title {
    letter-spacing: -0.56px;
    padding-bottom: 10px;

@include mq('tablet') {
    font-size: 1.125rem;
}
}
}
&__agreeAll {
     font-size: 0.875rem;

label {
    font-weight: 700;
    letter-spacing: -0.49px;
p {
    display: inline-block;
    width: 300px;
    vertical-align: text-top;
    letter-spacing: -0.49px;

@include mq('tablet') {
    width: 545px;
}
}
}
}

&__lastText {
     font-size: 0.875rem;
     font-weight: 300;
     letter-spacing: -0.49px;
     text-align: center;

@include mq('desktop') {
    font-size: 1rem;
}
.title-text {
    color: #707070;
}
.blue-text {
    color: #3090D6;
    padding-left: 10px;
i {
    padding-left: 5px;
}
}
.btn-field {
    margin-top: 30px;
> button {
    width: 140px;
    margin: 0 5px;
}
}
}

&__pwd {
     margin-bottom: 30px;
     padding-bottom: 25px;
     border-bottom: 1px solid #CDCDCD;

input[type='password'] {
    margin-bottom: 10px;

@include mq('desktop') {
    height: 60px;
    padding: 18px 0 18px 20px;
}
&:nth-child(n+2) {
     margin-bottom: 5px;
 }
&::placeholder {
     color: #aaa;
     font-size: 0.875rem;
     letter-spacing: -0.49px;

@include mq('desktop') {
    font-size: 1rem;
}
}
}
.valid-field {
    font-size: 0.875rem;
    letter-spacing: -0.03px;
    margin-bottom: 5px;
    color: #F7741E;
> span {
    display: inline-block;
    margin-bottom: 5px;
}
}
}
.pwd-explain {
> li {
    display: table;
    font-size: 0.875rem;
    font-weight: 300;
    text-align: left;
    width: 100%;

@include mq('desktop') {
    font-size: 1rem;
    letter-spacing: -0.56px;
}
+ li {
    padding-top: 10px;
}
&::before {
     display: table-cell;
     width: 15px;
     content: '\2022';
 }
}
}
.ichg-form {
    width: 100%;
    margin: 0 auto;
@include mq('tablet') {
    width: 380px;
}
}
&.pwd-list {
@include mq('desktop'){
    padding-right: 90px;
    padding-left: 90px;
}
}
}

.brick-terms {
    margin-bottom: 30px;

@include mq('desktop') {
    margin-bottom: 50px;
}
.agree-title {
    font-size: 0.875rem;
    margin-left: 10px;
    letter-spacing: -0.49px;
}
.w-blue-text {
    color: #3090D6;
}
> li {
    padding-top: 10px;

@include mq('tablet') {
    padding-top: 20px;
}
&:nth-last-child(1) {
     padding-top: 5px;
 }
label {
    letter-spacing: -0.49px;
}
}
&__agreeBox {
     font-size: 0.875rem;
     width: 330px;
     height: 150px;
     margin-top: 5px;
     border: 1px solid #C7CBCC;
     border-radius: 2px;
     overflow: auto;

@include mq('tablet') {
    width: 580px;
    margin-top: 10px;
}
@include mq('desktop') {
    margin-top: 15px;
}
> div {
    padding: 5px 10px;
    border-radius: 3px;

@include mq('tablet') {
    padding: 10px;
}
}
}
.terms-warning-text {
    font-size: 0.875rem;
    letter-spacing: -0.49px;
    font-weight: 300;
}
}

.member-btn {
    width: 100%;
    font-weight: 300;

&.first-btn {
     margin-bottom: 10px;
 }
&.last-btn {
     font-weight: 300;
     margin: 0px auto 20px;
 }
&:hover {
     width: 100%;
@include mq('tablet') {
    padding-top: 8px;
    padding-bottom: 8px;
}
@include mq('desktop') {
    padding-top: 12px;
    padding-bottom: 12px;
}
}
&.find-pwd-btn {
     margin-bottom: 0px;
 }
}

.gt-checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.warning-sign {
    color: #F7741E;
    font-weight: 300;
    font-size: 0.875rem;
    margin-top: -5px;
    margin-bottom: 10px;

@include mq('tablet') {
    margin-left: 162px;
}
@include mq('desktop') {
    margin-left: 155px;
}
&.success-msg {
     color: #2E96D8;
 }
}


/* 회원가입 완료 페이지*/
.regist-complate {
    text-align: center;
    padding: 30px 15px;

@include mq('tablet') {
    padding-top: 50px;
    padding-bottom: 40px;
}
@include mq('desktop') {
    padding-top: 70px;
    padding-bottom: 60px;
}
.complate-title {
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 10px;
    letter-spacing: -1.2px;

@include mq('tablet') {
    font-size: 1.875rem;
}
@include mq('desktop') {
    font-size: 2.5rem;
}
> span {
    font-weight: 400;
}
}

.complate-subTitle {
    font-weight: 300;
    font-size: 0.875rem;
    letter-spacing: -0.28px;
    padding-bottom: 30px;

@include mq('desktop') {
    font-size: 1rem;
    padding-bottom: 40px;
}
}
.complate-user {
    letter-spacing: -0.56px;
    color: #1D7ABD;
    margin-bottom: 55px;

@include mq('desktop') {
    margin-bottom: 65px;
}
> span {
    border-bottom: 1px solid #1772E5;
    padding-bottom: 5px;
@include mq('desktop') {
    font-size: 1.125rem;
}
}
}
.login-btn {
    font-weight: 300;
    width: 100%;
    height: 36px;
    padding: 8px 0;
    margin-bottom: 10px;

@include mq('tablet') {
    width: 125px;
}
@include mq('desktop') {
    height: 48px;
    padding: 12px 0;
}
}
.move-btn {
    font-weight: 300;
    width: 100%;
    height: 36px;
    padding: 8px 0px;

@include mq('tablet') {
    width: 230px;
    margin-left: 10px;
    margin-bottom: 10px;
}
@include mq('desktop') {
    height: 48px;
    padding: 12px 0;
}
}
}

.find-userinfo {
&__notmobile {
     display: none;
     padding-bottom: 35px;

@include mq('tablet') {
    display: block;
}
@include mq('desktop') {
    padding-bottom: 15px;
}
.radio-basic {
    margin-right: 30px;
@include mq('desktop') {
    margin-right: 20px;
}
&:nth-last-child(1) {
     margin-right: 0px;
 }
}
label {
    font-size: 0.875rem;
    letter-spacing: -0.28px;
@include mq('desktop') {
    font-size: 1rem;
    letter-spacing: -0.56px;
}

> span {
@include mq('desktop') {
    font-size: 0.875rem;
}
}
}
input[type='radio'] {
    margin-right: 5px;
}
}

&__mobile {
     padding-bottom: 10px;

@include mq('tablet') {
    display: none;
}
> select {
    font-size: 0.875rem;
    letter-spacing: -0.28px;
    width: 100%;
    height: 36px;
    padding-right: 0px; //check
padding-left: 20px;
    border: 1px solid #CDCDCD;
    border-radius: 2px;
> option {
    font-weight: 300;
}
}
}

.input-area {
> label {
    font-size: 0.75rem;
    font-weight: 300;
    padding-bottom: 5px;
    display: block;

@include mq('tablet') {
    display: inline-block;
    font-size: 0.875rem;
    width: 162px;
}
@include mq('desktop') {
    font-size: 1rem;
    width: 155px;
}
}
> input {
    font-size: 0.875rem;
    letter-spacing: -0.28px;
    width: 100%;
    height: 36px;
    border: 1px solid #CDCDCD;
    border-radius: 2px;
    padding: 8px 10px;
    margin-bottom: 20px;

&.long-placeholder {
     letter-spacing: -0.58px;
 }
@include mq('tablet') {
    width: 418px;
    height: auto;
    border-width: 0 0 1px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 0px;
    margin-bottom: 15px;
}
@include mq('desktop') {
    font-size: 1rem;
    width: 422px;
}

&::placeholder {
     color: #999;
     font-size: 0.875rem;
     letter-spacing: -1px;
@include mq('desktop') {
    font-size: 1rem;
}
}
&:focus {
     outline:none;
 }
}
> select {
    padding-bottom: 0px;
@include mq('tablet') {
    padding-bottom: 15px;
    padding-top: 15px;
}
}
&.pwd {
label {
    display: inline-block;
}
button {
    margin-left: 10px;
}
}

&.email {
input {
    width: 120px;
@include mq('tablet') {
    width: 185px;
}
&.customer-input {
     margin-top: 10px;
     width: 100%;
@include mq('tablet') {
    width: 418px;
    margin-left: 162px;
}

@include mq('desktop') {
    width: 422px;
    margin-left: 155px;
}
}
}
select {
    width: 170px;
@include mq('tablet') {
    width: 190px;
    border-width: 0 0 1px;
    height: auto;
    color: #707070;
}
@include mq('tablet') {
    width: 195px;
}
}
.custom-email {
    width: 330px;

@include mq('tablet') {
    width: 418px;
    margin-left: 162px;
}
}
}
&.cellphone {
input {
    width: 218px;
@include mq('tablet') {
    width: 275px;
}
@include mq('desktop') {
    width: 290px;
    font-size: 1rem;
}
}
select {
    font-size: 0.875rem;
    width: 80px;
    height: 36px;
    border: 1px solid #CDCDCD;
    border-radius: 2px;
@include mq('tablet') {
    width: 117px;
    border-width: 0 0 1px;
    height: auto;
    color: #707070;
}
@include mq('desktop') {
    font-size: 1rem;
    width: 100px;
}
}
}
&.domain {
> label {
    letter-spacing: -0.24px;
    padding-bottom: 10px;
}
> span {
    vertical-align: top;
    font-size: 0.875rem;
    font-weight: 300;

@include mq('tablet') {
    vertical-align: middle;
}
}
> textarea {
    font-size: 0.875rem;
    width: 275px;
    height: 140px;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 20px;
    border: 1px solid #CDCDCD;
    border-radius: 2px;
    color: #aaa;

@include mq('tablet') {
    margin-top: 15px;
    width: 365px;
}
}
}
&.confirm {
label {
    display: none;

@include mq('tablet') {
    display: inline-block;
}
}
.brick-layer-icon {
@include mq('tablet') {
    width: 140px;
    display: inline-block;
}
@include mq('tablet') {
    width: 173px;
}
}
input[type="button"] {
    font-size: 0.875rem;
    letter-spacing: -0.49px;
    width: 100%;
    height: 36px;
    border: 1px solid #3090D6;
    border-radius: 3px;
    color: #3090D6;
    background: #FFF;
    cursor: pointer;

@include mq('tablet') {
    border: 1px solid #2E96D8;
    color: #2E96D8;
}
@include mq('desktop') {
    height: 48px;
}
&:hover {
     color: #fff;
     background: #3090D6;
 }
}
.auth-succ-msg {
    font-size: 0.875rem;
    letter-spacing: -0.49px;
    color: #3090D6;
@include mq('tablet') {
    color: #2E96D8;
}
}
}
&.first-input {
     padding-bottom: 20px;

@include mq('tablet') {
    padding-bottom: 30px;
}
/* > span {
    @include mq('tablet') {
        padding-left: 10px;
    }
} */
}
&.last-input {
     padding-bottom: 30px;

@include mq('tablet') {
    padding-bottom: 50px;
}
select {
    margin-bottom: 0px;
}
input {
    margin-bottom: 0px;
}
}
.ico-middle {
    padding: 0 10px;
    vertical-align: middle;

@include mq('tablet') {
    color: #707070;
}
}
&.pwd-certificate {
     padding-bottom: 20px;

@include mq('tablet') {
    padding-bottom: 30px;
}
&.first-field {
@include mq('tablet') {
    margin-top: 15px;
}
}
&.last-field {
@include mq('tablet') {
    border-bottom: 1px solid #CDCDCD;
    margin-bottom: 30px;
}
}
.label-title {
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: -0.24px;
    padding-bottom: 10px;

@include mq('tablet') {
    font-size: 0.875rem;
    float: left;
}

@include mq('desktop') {
    font-size: 1rem;
}
}
.certificate-form {
@include mq('tablet') {
    padding-left: 160px;
}
.check-form {
    margin-bottom: 10px;
@include mq('tablet') {
    margin-bottom: 20px;
}
@include mq('desktop') {
    margin-bottom: 15px;
}

>.radio-basic {
    margin-right: 20px;
    font-size: 0.875rem;
@include mq('desktop') {
    font-size: 1rem;
}
}
}
input[type='radio'] {
    margin-right: 5px;
}
.addon-files {
    padding-bottom: 10px;
@include mq('tablet') {
    padding-bottom: 20px;
}
}
input[type='file'] {
    font-size: 0.875rem;
    font-weight: 300;
    letter-spacing: -0.49px;

&:nth-child(1) {
     margin-bottom: 10px;
 }
}
.register-explain {
    font-size: 0.875rem;
    letter-spacing: -0.49px;
    line-height: 21px;
@include mq('tablet') {
    font-weight: 300;
}
}
textarea {
    height: 150px;
}
}

}
}
&.regist-info {
     padding-bottom: 20px;
@include mq('tablet') {
    padding-bottom: 35px;
}
}
&.regist-customer {
     padding-bottom: 30px;
@include mq('tablet') {
    padding-bottom: 50px;
}
select {
    padding-bottom: 0px;
    margin-bottom: 20px;
@include mq('tablet') {
    padding-bottom: 15px;
    margin-bottom: 15px;
}
}
.ico-middle {
    vertical-align: super;
}
}
}

.gt-modal.member-regist {
.gt-modal-content {
@include mq('desktop') {
    width: 627px;
}
}
.gt-modal-body {
    height: 100%;
    max-height: 547px;
}
.radio-basic {
@include mq('tablet') {
    width: auto;
    padding-right: 30px;
}
}

.send-view {
    font-weight: 300;
    width: 100%;

@include mq('desktop') {
    display: inline-block;
    margin: 0px 0 15px;
    width: 550px;
}
.gt-btn-ghost {
@include mq('desktop') {
    float: right;
    width: auto;
    height: auto;
    padding: 10px 25px;
    margin: 0px;
}
}
}
.input-wrap {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;

@include mq('desktop') {
    width: 550px;
    margin-bottom: 50px;
}

.auth-num-input {
    width: 100%;
    margin-right: 10px;

@include mq('desktop') {
    float: left;
    width: 450px;
}
}
> .gt-input {
    width: 100%;
}
.auth-check-btn {
    padding: 10px 25px;
    margin-top: 20px;

@include mq('desktop') {
    float: right;
    width: auto;
    margin: -2px 0px 0px;
}
}
}
.text-info {
    padding-top: 20px;

@include mq('desktop') {
    padding-top: 30px;
}
}
.explain-text, .list-title, ul {
    font-size: 0.75rem;
    letter-spacing: -0.42px;

@include mq('tablet') {
    font-size: 0.875rem;
    letter-spacing: -0.41px;
}
@include mq('desktop') {
    font-size: 1rem;
    letter-spacing: -0.4px;
}
}
.explain-text {
    margin-bottom: 10px;

@include mq('desktop') {
    margin-bottom: 30px;
}
}
.list-title {
    font-weight: 400;
}
ul {
    font-weight: 300;
}

.auth_counter {
    font-size: 0.75rem;
    letter-spacing: -0.02px;
    margin-top: 10px;
    color: #FF0000;
}
}

// 불법사용자 온라인 프로세스
   .brick-sns__box {
&.illegal {
     text-align: left;
.input-area {

> p {
    margin-bottom: 20px;
    font-size: 0.875rem;

&.warning-sign {
@include mq('desktop') {
    font-size: 14px;
}
}

@include mq('tablet') {
    display: inline-block;
    width: calc(100% - 165px);
}

@include mq('desktop') {
    margin-bottom: 35px;
    font-size: 16px;
}

&.confirm {
     color: #333;
 }
}
&:last-child {
     padding-bottom: 10px;
 }
}

.btn-wrap {
@include mq('tablet') {
    @include clearfix;
}

&.fail {
.btn-basic-blue {
    height: auto;
    margin-bottom: 10px;

@include mq('tablet') {
    float: left;
    width: calc(50% - 5px);
    margin-bottom: 0;
    padding: 8px 0;
    font-size: 0.875rem !important;
}

@include mq('desktop') {
    padding: 12px 0;
    font-size: 16px !important;
}
}
.btn-basic {
    width: 100%;

@include mq('tablet') {
    float: right;
    width: calc(50% - 5px);
    margin-bottom: 0;
}
}
}
}

.auth-btn {
    height: 60px;
    font-size: 0.875rem;

@include mq('tablet') {
    float: left;
    width: calc(50% - 5px);
    margin-bottom: 0;
    font-size: 0.875rem !important;

&:last-child {
     float: right;
 }
}

@include mq('desktop') {
    height: 75px;
    font-size: 16px !important;
}
}
}
}

.resting-container.login-fail {
@include mq('desktop') {
    width: 780px;
    max-width: none;
    margin: 0 auto;
}
.error-code {
    padding-bottom: 10px;
    font-size: 0.875rem;
    color: #999;

@include mq('desktop') {
    font-size: 16px;
}
}

.explain {
@include mq('tablet') {
    font-size: 1.125rem;
}

@include mq('desktop') {
    font-size: 16px;
}
}

.auth-title {
    margin-top: 20px;
    text-align: left;
}

.resting-doc__box {
.input-area {
&.name,
&.date {
p {
@include mq('tablet') {
    display: inline-block;
    width: calc(100% - 165px);
}

@include mq('desktop') {
    font-size: 16px;
}
}
}
}

.auth-title {
    padding-bottom: 10px;
    font-size: 0.875rem;

@include mq('desktop') {
    font-size: 16px;
}
}

.w-list {
    font-size: 0.875rem;

@include mq('desktop') {
    font-size: 16px;
}
}

.btn-area {
.btn-basic-blue {
    width: 100%;
}
}
}
}

.resting-doc__box {
&.change {

     padding-right: 15px;
     padding-left: 15px;

@include mq('desktop') {
    width: 580px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
}

.btn-area {
@include mq('tablet') {
    width: 380px;
}
.btn-basic-blue {
@include mq('tablet') {
    width: 380px;
}
}
}

.input-area {
&.email,
&.cellphone {
p {
@include mq('tablet') {
    display: inline-block;
    width: calc(100% - 165px);
}
}
}
}
}


}
