<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.lighteningmarket.mappers.products.productMapper">
    <!-- 01. 상품 전체 목록 -->
    <select id="listProduct" resultType="com.project.lighteningmarket.products.domain.ProductsVO">
        SELECT
            proIdx AS productIdx,
            id AS id,
            title AS productTitle,
            tradeArea AS tradeArea,
            statement AS statement,
            exchange AS exchange,
            price AS productPrice,
            description AS description,
            count AS count,
	        regDate AS regDate,
            url AS productUrl
        FROM tbl_product
        ORDER BY title;
    </select>
    <!-- 02. 상품 상세보기 -->
    <select id="detailProduct" resultType="com.project.lighteningmarket.products.domain.ProductsVO">
        SELECT
            proIdx AS productIdx,
            id AS id,
            title AS productTitle,
            tradeArea AS tradeArea,
            statement AS statement,
            exchange AS exchange,
            price AS productPrice,
            description AS description,
            count AS count,
	        regDate AS regDate,
            url AS productUrl
        FROM tbl_product
        WHERE proIdx = #{productIdx}
    </select>

    <!-- 03. 상품 추가하기 -->
    <insert id="insertProduct" parameterType="com.project.lighteningmarket.products.domain.ProductsVO">
        INSERT INTO tbl_product
				(id,
                title,
                tradeArea,
                statement,
                exchange,
                price,
                description,
                count,
				url
                )
        VALUES (
                 #{id},
                 #{productTitle},
                 #{tradeArea},
                 #{statement},
                 #{exchange},
                 #{productPrice},
                 #{description},
                 #{count},
                 #{productUrl}
               )
    </insert>

    <!-- ID 찾기 -->
    <select id="searchId" parameterType="string" resultType="string">
        SELECT id
        FROM bunjang.tbl_member
        where session_key = #{id};
    </select>

    <!-- 05. 검색 후 목록 -->
    <select id="searchProductList" parameterType="string" resultType="com.project.lighteningmarket.products.domain.ProductsVO">
        SELECT
            proIdx AS productIdx,
            id AS id,
            title AS productTitle,
            tradeArea AS tradeArea,
            statement AS statement,
            exchange AS exchange,
            price AS productPrice,
            description AS description,
            count AS count,
	        regDate AS regDate,
            url AS productUrl
        FROM tbl_product
        WHERE title like CONCAT('%',#{searchData},'%')
        ORDER BY title;
    </select>

    <select id="selectCategory" resultType="com.project.lighteningmarket.commons.category.domain.CategoryDTO">
        SELECT
            CONCAT(A.groupID,  A.categoryLev,  A.categoryDetailLev) AS n_key,
            A.categoryNm as categoryNm,
            CONCAT(repeat('',A.categoryParentLev * 3), A.categoryDetailNm) as categoryDetailName,
            CASE A.categoryParentLev
                WHEN 0 THEN C.categoryDetailNm
                WHEN 1 THEN CONCAT(B.categoryDetailNm,' > ', A.categoryDetailNm)
                WHEN 2 THEN CONCAT(C.categoryDetailNm, ' > ', B.categoryDetailNm,' > ', A.categoryDetailNm)
                END as navigator
        FROM tbl_category_test A LEFT JOIN tbl_category_test B
                                           ON A.categoryParentLev = B.categoryLev
                                               AND A.categoryDetailParentLev = B.categoryDetailLev
                                 LEFT JOIN tbl_category_test C
                                           ON A.groupID = C.groupID
        WHERE A.categoryID > 0
          AND C.categoryID = any(SELECT categoryID FROM tbl_category_test sub2 where  categoryID > 0 and categoryLev = 1)
        ORDER BY navigator;
    </select>

</mapper>