<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.lighteningmarket.mappers.user.UserMapper">

    <insert id="signup">
        INSERT INTO tbl_member (
            id
            , nickname
            , password
            , name
            , email
            , p_number
        ) VALUES (
            #{id}
            , #{nickname}
            , #{password}
            , #{name}
            , #{email}
            , #{pNumber}
         )
    </insert>
</mapper>